google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-auth==2.40.2
google-cloud-language==2.17.2
google-cloud-texttospeech==2.27.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
nltk==3.9.1
protobuf==5.29.5
pydub==0.25.1
requests==2.32.3
